@tailwind base;
@tailwind components;
@tailwind utilities;

//테마 색 적용
@layer base {
  :root {
    --color-bg: #fff;
    --color-accent:rgb(163, 163, 163);
    --color-timer: #e6e6e6;
    --color-btn: #b3b3b3;
    --color-btn-hover: #555555;
    --color-week-graph:rgb(134, 134, 134);
    --color-month-graph: #292929;
  }
  html[data-theme='blue'] {
    --color-bg: #e0f2fe;
    --color-accent:rgb(61, 189, 248);
    --color-timer:rgb(156, 224, 255);
    --color-btn: #6fcdf8;
    --color-btn-hover: #36baf7;
    --color-week-graph:rgb(121, 206, 245);
    --color-month-graph:rgb(5, 150, 218);
  }
  html[data-theme='pink'] {
    --color-bg: #fff0f6;
    --color-accent: #ee4e86;
    --color-timer: #ffd0e1;
    --color-btn: #f783ac;
    --color-btn-hover: #f3518a;
    --color-week-graph:rgb(236, 145, 177);
    --color-month-graph:rgb(216, 20, 89);
  }
  html[data-theme='green'] {
    --color-bg: #f0fdf4;
    --color-accent: #16a34a;
    --color-timer: #d4ffd0;
    --color-btn:rgb(111, 212, 148);
    --color-btn-hover:rgb(40, 199, 98);;
    --color-week-graph: rgb(117, 224, 156);;
    --color-month-graph:rgb(16, 192, 80);
  }
}
